 /* PALETA DE COLORES PRINCIPAL */
.oscuro {color: rgb(0, 2, 38);} 
.azul-oscuro {color: rgb(1, 10, 63);}
.azul {color: rgb(1, 39, 89);}
.azul-claro {color: rgb(32, 98, 140);}
.verde {color: rgb(89, 213, 87);}
.blanco {color: rgb(255, 255, 255);}
.gris {color: rgb(163, 163, 163)}


body {
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(0, 2, 38);
}

.inicio {
    color: rgb(255, 255, 255);
}

 /* Estilos generales para la página */
.dark-background {
    color: rgb(255, 255, 255);
    padding: 50px 20px;
}

hr {
    border: none;
     /* Elimina el borde predeterminado */
    height: 1px;
     /* Define la altura de la línea */
    background-color: #ccc;
     /* Cambia el color de fondo */
    margin: 20px 0;
     /* Añade espacio arriba y abajo */
}

.hr-gradient {
    background: linear-gradient(to right, rgb(89, 213, 87), rgba(89, 213, 87, 0.062));
}

 /* Estilos comunes para Bento Grid y Bento Items */
.bento-grid {
    display: grid;
    gap: 1rem;
    margin: auto;
    max-width: 60rem;
}

.bento-item {
    background-color: rgb(1, 39, 89);
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    transition: transform 0.4s, box-shadow 0.4s;
    border: 0.1rem solid rgb(255, 255, 255);
    box-shadow: 0 0 0.6rem rgb(89, 213, 87);
}

.bento-item:hover {
    box-shadow: 0 0 2rem rgb(89, 213, 87);
    color: rgb(89, 213, 87);
    background-color: rgb(32, 98, 140);
    cursor: pointer;
    transform: translateY(-0.5rem);
}

.bento-item h2,
.bento-item p {
    margin: 0;
}

.bento-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.bento-item a:hover {
    text-decoration: none;
    color: rgb(89, 213, 87);
}



#contacto .bento-item {
    background-color: rgb(1, 39, 89);
}

#contacto .bento-item:hover {
    background-color: rgb(32, 98, 140);
    cursor: pointer;
}

#contacto .bento-item h2,
#contacto .bento-item p {
    color: rgb(255, 255, 255);
}

#contacto .bento-item i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

 /* Estilos específicos para la foto */
#foto {
    border-radius: 10%;
    border: 0.1rem solid rgb(255, 255, 255);
    box-shadow: 0 0 2rem rgb(89, 213, 87);
    width: 15rem;
    margin-top: 7.5rem;
}

#foto:hover {
    box-shadow: 0 0 0.6rem rgb(89, 213, 87);
    cursor: pointer;
}

#inicio {
    margin-bottom: 4rem;
}

#sobre-mi {
    text-decoration: none;
    text-align: center;
    max-width: 50rem;
    margin: auto;
    text-align: justify;
}

p {
    text-decoration: none;
    margin-top: 1rem;
    color: rgb(163, 163, 163);
}

form {
    align-items: center;
    display: grid;
    gap: 10px;
}

input,
textarea {
    display:grid;
    align-items: center;
    width: 60rem;
    padding: 8px;
    border: 0.1rem solid rgb(89, 213, 87);
    box-sizing: border-box;
    background-color: rgb(0, 2, 38);   
    color: rgb(255, 255, 255);
}

textarea {
    resize: vertical;
     /* Permite ajustar la altura verticalmente */
    min-height: 8rem;
     /* Altura mínima inicial */
}

.texto-color {
    color: rgb(89, 213, 87);
}

 /* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .bento-grid {
        grid-template-columns: 1fr;
    }
}